# Dependencies
node_modules/

# Environment variables
.env

# Build files
dist/
build/

# Logs
*.log

# Prisma
prisma/.env

# Editor files
.vscode/

# Operating system
.DS_Store
Thumbs.db
backend/.agents/
backend/skills-lock.json
